*.log
.cache
/.nvim/
.DS_Store
/test/*
/lua/build
/plugin
!/plugin/
/plugin/*
!/plugin/portal.lua
/plugin/packer_compiled.lua
/.vscode
/lazy-lock.json
/nvim-personal.json
/after/syntax

.gemini/
gha-creds-*.json
AGENTS.md
